In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
con = create_engine('mysql+pymysql://root:root@localhost:3306/stock_data?charset=utf8')

In [5]:
sql = 'select * from stock_data;'

In [14]:
sql2 = 'select * from shanghai_stock_exchange_index;'

In [4]:
sql_codename = 'select stock_code, name from stock_data group by stock_code;'

In [6]:
df = pd.read_sql_query(sql, con)

In [45]:
df_sz = pd.read_sql_query(sql2, con)

In [8]:
df.sort_values(by = ['trade_date', 'stock_code'], inplace = True)

In [9]:
df

,trade_date,stock_code,code,name,trade,high,low,open,changepercent,pricechange,volume,amount,amplitude,turnover,dynamic_pe,presettlement,aggregate_value,market_value,pb,first_trade_date
3215,2021-10-18,sh600000,600000,浦发银行,9.02,9.10,8.98,9.06,-0.55,-0.05,259647,2.342096e+08,1.32,0.09,4.44,9.07,2.647565e+11,2.647565e+11,0.49,19991110
1877,2021-10-18,sh600004,600004,白云机场,12.02,12.07,11.61,11.81,0.84,0.10,208516,2.476148e+08,3.86,1.01,-34.69,11.92,2.844795e+10,2.487323e+10,1.56,20030428
2644,2021-10-18,sh600006,600006,东风汽车,7.77,7.89,7.71,7.77,0.13,0.01,229523,1.786774e+08,2.32,1.15,15.41,7.76,1.554000e+10,1.554000e+10,1.91,19990727
3403,2021-10-18,sh600007,600007,中国国贸,13.99,14.08,13.73,14.08,-0.85,-0.12,47545,6.598186e+07,2.48,0.47,13.79,14.11,1.409188e+10,1.409188e+10,1.74,19990312
1839,2021-10-18,sh600008,600008,首创环保,3.46,3.52,3.41,3.42,0.87,0.03,978251,3.404728e+08,3.21,1.33,8.89,3.43,2.539844e+10,2.539844e+10,1.51,20000427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,2021-10-27,sz301085,301085,亚康股份,31.03,31.45,29.45,30.63,-0.26,-0.08,49486,1.508372e+08,6.43,24.74,28.26,31.11,2.482400e+09,6.206000e+08,3.24,20211018
35889,2021-10-27,sz301086,301086,鸿富瀚,83.88,89.78,83.80,89.04,-6.68,-6.00,25825,2.208836e+08,6.65,17.22,37.84,89.88,5.032800e+09,1.258200e+09,2.89,20211020
35434,2021-10-27,sz301087,301087,C可孚,88.02,90.10,84.46,89.30,-4.25,-3.91,86228,7.480150e+08,6.14,23.34,34.09,91.93,1.408320e+10,3.252247e+09,2.98,20211025
31510,2021-10-27,sz301089,301089,N拓新,28.82,34.01,26.50,26.51,50.81,9.71,175202,5.123096e+08,39.30,63.69,41.34,19.11,3.631320e+09,7.927354e+08,3.30,20211027
36021,2021-10-27,sz301090,301090,C华润材,14.91,16.75,14.76,15.26,-21.40,-4.06,861896,1.343148e+09,10.49,51.49,41.00,18.97,2.205810e+10,2.495963e+09,3.67,20211026

In [10]:
df['trade_date'] = pd.to_datetime(df['trade_date'])

In [16]:
df_sz

,trade_date,stock_code,presettlement,trade,high,low,volume
0,2021-10-22,sh000001,3594.75,3582.60,3607.58,3578.76,353157203
1,1990-12-19,sh000001,113.10,113.10,113.10,113.10,2650
2,1990-12-20,sh000001,113.10,113.50,113.50,112.85,1990
3,1990-12-21,sh000001,113.50,113.50,113.50,113.40,1190
4,1990-12-24,sh000001,113.50,114.00,114.00,113.30,8070
...,...,...,...,...,...,...,...
7361,2021-10-20,sh000001,3583.24,3587.00,3596.05,3574.30,344245008
7362,2021-10-21,sh000001,3590.05,3594.78,3610.96,3576.35,352310867
7363,2021-10-25,sh000001,3574.26,3609.86,3611.09,3564.21,321196816
7364,2021-10-26,sh000001,3612.83,3597.64,3625.02,3589.71,337278291
7365,2021-10-27,sh000001,3589.86,3562.31,3589.86,3553.13,350620940

In [12]:
code_list = list(set(df['stock_code'].values))
code_list.sort()

In [13]:
resample_df = pd.DataFrame()
for code in code_list:
    rdf = df[df['stock_code'] == code].resample(rule = '1M', 
                                        on = 'trade_date', base = 0, 
                                        label='right', closed='right').agg({'trade' : 'last', 
                                                            'volume' : 'sum', 'amount' : 'sum', 
                                                            'low' : 'min', 'high' : 'max', 'code' : 'count'})
    rdf.reset_index(inplace = True)
    rdf.insert(0, column = 'stock_code', value = code)
    resample_df = resample_df.append(rdf)

<ipython-input-13-9b5ecec3b9c9>:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  rdf = df[df['stock_code'] == code].resample(rule = '1M',

In [11]:
resample_df

   stock_code trade_date  trade   volume        amount    low    high  code
0    sh600000 2021-10-31   9.03  1914128  1.730282e+09   8.98    9.13     6
0    sh600004 2021-10-31  10.96  1147671  1.319330e+09  10.50   12.07     6
0    sh600006 2021-10-31   7.59  1705301  1.296366e+09   7.38    7.89     6
0    sh600007 2021-10-31  13.46   369176  5.082409e+08  13.01   14.16     6
0    sh600008 2021-10-31   3.35  5896498  2.019262e+09   3.30    3.52     6
..        ...        ...    ...      ...           ...    ...     ...   ...
0    sz301081 2021-10-31  19.08   877113  1.747894e+09  18.25   23.03     4
0    sz301083 2021-10-31  20.00   771270  1.481186e+09  16.51   24.63     3
0    sz301085 2021-10-31  30.66   418679  1.433505e+09  30.44   42.77     6
0    sz301086 2021-10-31  89.70   176490  1.847241e+09  89.50  129.74     4
0    sz301087 2021-10-31  88.97   177207  1.565246e+09  80.93   93.20     1

[4511 rows x 8 columns]

In [63]:
df[df['stock_code'] == 'sz301080']

,trade_date,stock_code,code,name,trade,high,low,open,changepercent,pricechange,volume,amount,amplitude,turnover,dynamic_pe,presettlement,aggregate_value,market_value,pb,first_trade_date
2,2021-10-18,sz301080,301080,N百普,168.82,199.00,166.84,198.00,50.06,56.32,88306,1.568005e+09,28.59,44.15,93.65,112.50,1.350560e+10,3.376400e+09,5.71,20211018
4505,2021-10-19,sz301080,301080,C百普,191.25,192.88,172.00,172.25,13.29,22.43,68652,1.249569e+09,12.37,34.33,106.09,168.82,1.530000e+10,3.825000e+09,6.46,20211018
12764,2021-10-20,sz301080,301080,C百普,187.50,196.50,184.20,191.99,-1.96,-3.75,47473,9.004331e+08,6.43,23.74,104.01,191.25,1.500000e+10,3.750000e+09,6.34,20211018
17451,2021-10-21,sz301080,301080,C百普,182.40,188.73,176.50,186.16,-2.72,-5.10,32586,5.901648e+08,6.52,16.29,101.18,187.50,1.459200e+10,3.648000e+09,6.17,20211018
20775,2021-10-22,sz301080,301080,C百普,179.61,184.26,177.55,180.39,-1.53,-2.79,19454,3.530778e+08,3.68,9.73,99.64,182.40,1.436880e+10,3.592200e+09,6.07,20211018

In [46]:
df_sz = df_sz[df_sz['trade_date'] >= pd.to_datetime('2021-10-18')]
df_sz

,trade_date,stock_code,presettlement,trade,high,low,volume
0,2021-10-22,sh000001,3594.75,3582.60,3607.58,3578.76,353157203
7359,2021-10-18,sh000001,3571.05,3568.14,3571.05,3539.48,340950616
7360,2021-10-19,sh000001,3562.30,3593.15,3596.79,3560.62,334197652
7361,2021-10-20,sh000001,3583.24,3587.00,3596.05,3574.30,344245008
7362,2021-10-21,sh000001,3590.05,3594.78,3610.96,3576.35,352310867
7363,2021-10-25,sh000001,3574.26,3609.86,3611.09,3564.21,321196816
7364,2021-10-26,sh000001,3612.83,3597.64,3625.02,3589.71,337278291
7365,2021-10-27,sh000001,3589.86,3562.31,3589.86,3553.13,350620940

In [47]:
df_sz.sort_values('trade_date', ascending = False, inplace = True)
df_sz

,trade_date,stock_code,presettlement,trade,high,low,volume
7365,2021-10-27,sh000001,3589.86,3562.31,3589.86,3553.13,350620940
7364,2021-10-26,sh000001,3612.83,3597.64,3625.02,3589.71,337278291
7363,2021-10-25,sh000001,3574.26,3609.86,3611.09,3564.21,321196816
0,2021-10-22,sh000001,3594.75,3582.60,3607.58,3578.76,353157203
7362,2021-10-21,sh000001,3590.05,3594.78,3610.96,3576.35,352310867
7361,2021-10-20,sh000001,3583.24,3587.00,3596.05,3574.30,344245008
7360,2021-10-19,sh000001,3562.30,3593.15,3596.79,3560.62,334197652
7359,2021-10-18,sh000001,3571.05,3568.14,3571.05,3539.48,340950616

In [48]:
df_sz.reset_index(inplace = True, drop = True)
df_sz

   trade_date stock_code  presettlement    trade     high      low     volume
0  2021-10-27   sh000001        3589.86  3562.31  3589.86  3553.13  350620940
1  2021-10-26   sh000001        3612.83  3597.64  3625.02  3589.71  337278291
2  2021-10-25   sh000001        3574.26  3609.86  3611.09  3564.21  321196816
3  2021-10-22   sh000001        3594.75  3582.60  3607.58  3578.76  353157203
4  2021-10-21   sh000001        3590.05  3594.78  3610.96  3576.35  352310867
5  2021-10-20   sh000001        3583.24  3587.00  3596.05  3574.30  344245008
6  2021-10-19   sh000001        3562.30  3593.15  3596.79  3560.62  334197652
7  2021-10-18   sh000001        3571.05  3568.14  3571.05  3539.48  340950616

In [49]:
df_sz.reset_index(inplace = True, drop = False)
df_sz

,index,trade_date,stock_code,presettlement,trade,high,low,volume
0,0,2021-10-27,sh000001,3589.86,3562.31,3589.86,3553.13,350620940
1,1,2021-10-26,sh000001,3612.83,3597.64,3625.02,3589.71,337278291
2,2,2021-10-25,sh000001,3574.26,3609.86,3611.09,3564.21,321196816
3,3,2021-10-22,sh000001,3594.75,3582.60,3607.58,3578.76,353157203
4,4,2021-10-21,sh000001,3590.05,3594.78,3610.96,3576.35,352310867
5,5,2021-10-20,sh000001,3583.24,3587.00,3596.05,3574.30,344245008
6,6,2021-10-19,sh000001,3562.30,3593.15,3596.79,3560.62,334197652
7,7,2021-10-18,sh000001,3571.05,3568.14,3571.05,3539.48,340950616

In [50]:
df_sz['index'] += 1

In [51]:
df_sz

,index,trade_date,stock_code,presettlement,trade,high,low,volume
0,1,2021-10-27,sh000001,3589.86,3562.31,3589.86,3553.13,350620940
1,2,2021-10-26,sh000001,3612.83,3597.64,3625.02,3589.71,337278291
2,3,2021-10-25,sh000001,3574.26,3609.86,3611.09,3564.21,321196816
3,4,2021-10-22,sh000001,3594.75,3582.60,3607.58,3578.76,353157203
4,5,2021-10-21,sh000001,3590.05,3594.78,3610.96,3576.35,352310867
5,6,2021-10-20,sh000001,3583.24,3587.00,3596.05,3574.30,344245008
6,7,2021-10-19,sh000001,3562.30,3593.15,3596.79,3560.62,334197652
7,8,2021-10-18,sh000001,3571.05,3568.14,3571.05,3539.48,340950616

In [ ]:
pd.to_datetime()